<!DOCTYPE html>
<html lang="hu"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bejelentkezés</title>
</head>
<head th:replace="layout/head :: head"></head>
<body>
    <header th:replace="layout/nav :: navbar">
    </header>
    <div th:replace="layout/parameters :: AuthorizationParameters">
    </div>

    <div class="container">
        <div class="row">

            <div sec:authorize="!isAuthenticated()" th:fragment="LoginContent">

                <style>

                    #formLogin div img{
                        height: 30px;
                    }

                    #formLogin input{
                        display: inline;
                    }

                </style>

                <form method="POST" name="Login" id="formLogin" th:action="@{/login}">
                    <h1>Bejelentkezés</h1>
                    <div class="form-group row">
                        <label for="username" class="col-sm-1 col-form-label"><img src="icon/username.svg"></label>
                        <div class="col-11">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Felhasználónév vagy E-mail cím" required="true">
                        </div>
                        <label for="password" class="col-sm-1 col-form-label"><img src="icon/password.svg"></label>
                        <div class="col-11">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Jelszó" required="true">
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Bejelentkezés</button>
                    </div>
                </form>

                <div>
                    <h5>Még nincs fiókod? <a href="/registration">Regisztrálj</a></h5>
                </div>
            </div>



            <div sec:authorize="isAuthenticated()">
                <form method="POST" class="form-inline" id="frmlogout" sec:authorize="isAuthenticated()" th:action="@{/logout}">
                    <h1>Újbóli bejelentkezéshez előbb jelentkezz ki!</h1>
                    <a class="btn btn-warning" href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Kijelentkezés</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>