<!DOCTYPE html>
<html lang="hu"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

        #formRegister div img{
            height: 30px;
        }

    </style>

    <title>Regisztráció</title>
</head>
<head th:replace="layout/head :: head"></head>
<body>
    <header th:replace="layout/nav :: navbar">
    </header>

    <div class="container">
        <div class="row">
            <div sec:authorize="!isAuthenticated()">
                <form method="POST" id="formRegister" th:action="@{/validateRegistration}" th:object="${user}">
                    <h1 class="text-center">Regisztráció</h1>
                    <div class="row">
                        <label for="username" class="col-sm-1 col-form-label"><img src="icon/username.svg"></label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Felhasználónév" required="true" th:field="*{username}">
                            <small id="emailHelp" class="form-text" style="color: red">***Validálásra várok***</small>
                        </div>
                        <label for="email" class="col-sm-1 col-form-label"><img src="icon/email.svg"></label>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required="true" th:field="*{email}">
                            <small id="emailHelp" class="form-text" style="color: red">***Validálásra várok***</small>
                        </div>
                        <label for="password" class="col-sm-1 col-form-label"><img src="icon/password.svg"></label>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Jelszó" required="true" th:field="*{password}">
                            <small id="emailHelp" class="form-text" style="color: red">***Validálásra várok***</small>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Regisztráció</button>
                    </div>
                </form>
            </div>
            <div>
                <div sec:authorize="isAuthenticated()">
                    <form method="POST" class="form-inline" id="frmlogout" sec:authorize="isAuthenticated()" th:action="@{/logout}">
                        <h1>Regisztrációhoz előbb jelentkezz ki!</h1>
                        <a class="btn btn-warning" href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Kijelentkezés</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>